* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

main {
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.logo {
  width: 120px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
.navbar {
  margin: 0 auto;
  width: 100%;
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #0f2133;
}
.nav-link {
  color: #abb7c4 !important;
  font-size: 18px;
}
.login-btn,
.signup-btn {
  text-decoration: none;
}
.login-btn {
  color: #abb7c4;
}
.signup-btn {
  background-color: #dd003f;
  color: white;
}
.active,
.login-btn:hover,
.nav-link:hover {
  color: #dcf836 !important;
}
.signup-btn:hover {
  background-color: #fff;
  border: 2px solid #dd003f;
  color: #dd003f;
}
/* .navbar-toggler-icon {
  color: #fff !important;
} */

/* Searchbar */
.searchbar-container {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  width: 100%;
}
.search-bar {
  display: flex;
  width: 88%;
  background-color: #233a50;
  border: 4px solid #020d18;
}
.dropdwon {
  position: relative;
  width: 280px;
  border-right: 2px solid #020d18;
  cursor: pointer;
}
#drop-icon {
  color: #abb7c4;
}
.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 12px 15px;
}
.dropdown-list {
  list-style-type: none;
  position: absolute;
  top: 50px;
  color: #fff;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #233a50;
  z-index: 1;
  transition: all 0.5s;
}
#drop-list.show {
  max-height: 300px;
}
.dropdown-list-item {
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
}
.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: #dcf836;
}
.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
}
.search-box input {
  padding: 0 1rem;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #233a50;
  border: 0;
  outline: 0;
}
.search-box i {
  color: #fff;
  padding-right: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}
.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 200;
  color: #abb7c4;
}

/* Hero Section */
.hero-section {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 50px;
}

/* Header Section */
.header-section {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 50px;
}

/* Social box */
.social-box {
  display: flex;
  gap: 10px;
  color: #fff;
  justify-content: end;
  align-items: baseline;
}
.social-box p {
  font-size: 14px;
  font-weight: bold;
}
.social-icon:hover {
  color: #dcf836;
  transition: all 0.6s;
}

/* Owl Carousel */
.main-carousel,
.movie-series-carousel {
  margin-top: 1rem;
  width: 90%;
  margin-bottom: 60px;
}
.card-carousle-box {
  position: relative;
}
.movie-info {
  position: absolute;
  bottom: 10%;
  left: 6%;
}
.movie-info .btn {
  color: white;
}
.movie-info .btn-item1 {
  background-color: #07a9cd;
  border: 2px solid #3871aa;
}
.movie-info .btn-item2 {
  background-color: #eeac04;
  border: 2px solid #c99002;
}
.movie-info .btn-item3 {
  background-color: #38c657;
  border: 2px solid #2b9c43;
}
.movie-info .btn-item4 {
  background-color: #f9d206;
  border: 2px solid #d3b004;
}

.movie-info h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
}
.movie-info p {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.movie-info i {
  color: #f9d206;
}

/*position dots on the right */
.owl-carousel .owl-dots {
  position: absolute;
  right: 10px;
  bottom: -55px;
  text-align: right;
}
.owl-dot span {
  background-color: #fff !important;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot span:hover {
  background-color: #dcf836 !important;
}

/* Movies Series Section */
.movies-series-section {
  background-color: #020d18;
}

.movies-container {
  padding-top: 50px;
  padding-bottom: 16px;
}
.series-container {
  padding-bottom: 50px;
}

/* .movie-carousel .owl-dots {
  position: absolute;
  right: 10px;
  top: -55px;
  text-align: right;
} */

/* .series-carousel .owl-dots {
  position: absolute;
  right: 10px;
  top: -55px;
  text-align: right;
} */

/* Movie Tabs */
.movie-tab-btn {
  background-color: transparent !important;
  font-size: 16px !important;
}
.nav-pills {
  margin-left: -1rem;
}

/* Top Rated Section */
.top-rated-section {
  background-color: #06121e;
  padding-top: 50px;
  padding-bottom: 120px;
}
.top-rate-row {
  height: 420px;
}
.vs-container {
  background-color: rgba(35, 58, 80, 0.48);
  position: relative;
  padding: 0;
}
#videoPlayer {
  width: 100%;
  height: 100%;
}
.vertical-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px 0;

  /* background-color: purple; */
  overflow: hidden;
}
.vertical-slider .vs-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2rem;
  background-color: #07a9cd;
  display: flex;
  justify-content: center;
  z-index: 999;
}
/* .vs-icon span {
  color: #abb7c4;
  font-size: 1.5rem;
} */
.vertical-slider .vs-icon .vs-icon-hide {
  display: none;
}
.vertical-slider .vs-icon:first-child {
  top: 0;
  margin-top: 8px;
}
.vertical-slider .vs-icon:last-child {
  bottom: 0;
  /* position: fixed; */
}

.vs-icon .vs-top-arrow,
.vs-icon .vs-bottom-arrow {
  color: #abb7c4;
  font-size: 1.6rem;
}
.vs-icon .vs-top-arrow:hover,
.vs-icon .vs-bottom-arrow:hover {
  color: #dcf836;
}
.vertical-slider .vs-tabs {
  min-width: 99%;
  height: 360px;
  list-style-type: none;

  padding: 0;

  overflow-y: auto;
  scroll-behavior: smooth;
}

.vertical-slider .vs-tabs::-webkit-scrollbar {
  display: none;
}
.vs-tabs .vs-tab {
  background-color: rgba(35, 58, 80, 0.48);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.vs-tabs .vs-tab:hover {
  background-color: #1c3d5d;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.vs-tab-active {
  background-color: #1c3d5d !important;
}
.vs-tab p {
  font-weight: bold;
}

/* Pricing Plan Section */
.pricing-plan-section {
  background-color: #020d18;
  padding-top: 60px;
  padding-bottom: 30px;
}
.pirce-plan-box {
  background-color: transparent;
  border: 3px solid #4280bf;
  margin: 45px 0 40px 0;
  padding: 2rem 1.5rem;
}
.basic-box-subtitle {
  color: #dcf836;
  font-size: 2.4rem;
  font-weight: bold;
}
.price-box-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.check-icon {
  color: #38c657;
}
.grey-icon,
.grey-text {
  color: #abb7c4;
}
.premium-box-subtitle {
  color: #dd003f;
  font-size: 1.8rem;
}
.premium-box-subtitle span {
  color: #dd003f;
  font-size: 2.4rem;
  font-weight: bold;
}
.cinematic-box-subtitle {
  color: #eeac04;
  font-size: 1.8rem;
}
.cinematic-box-subtitle span {
  color: #eeac04;
  font-size: 2.4rem;
  font-weight: bold;
}
.btn-basic-price {
  border: 2px solid #dcf836;
  color: #fff;
}
.btn-basic-price:hover {
  background-color: #b4d303;
  font-weight: bold;
}
.btn-premium-price {
  border: 2px solid #dd003f;
  color: #fff;
}
.btn-premium-price:hover {
  background-color: #dd003f;
  font-weight: bold;
}
.btn-cinematic-price {
  border: 2px solid #eeac04;
  color: #fff;
}
.btn-cinematic-price:hover {
  background-color: #eeac04;
  font-weight: bold;
}

/* Footer Section */

.footer-links {
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .col-quick-links {
    display: flex;
    flex-direction: column;
  }
  .links1 {
    align-items: start;
    justify-content: center;
  }
  .links2 {
    align-items: center;
    justify-content: center;
  }
  .links3 {
    align-items: end;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .col-quick-links {
    display: flex;
    flex-direction: column;
  }
  .links1 {
    align-items: center;
    justify-content: center;
  }
  .links2 {
    align-items: center;
    justify-content: center;
  }
  .links3 {
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    margin-top: 20px;
  }
  .footer-social-box {
    margin-bottom: 10px;
  }
}

.footer-logo {
  width: 140px;
  height: auto;
}
.footer-social-box {
  font-size: 18px;
}
.col-quick-links h4 {
  font-size: 20px;
  color: #4280bf;
  margin: 10px 0;
}
.col-quick-links ul {
  list-style-type: none;
}
.col-quick-links ul li {
  font-size: 12px;
}
.col-quick-links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-copy-right {
  background-color: #06121e;
  border-top: 1px solid #abb7c4;
  padding: 20px 0 0 0;
}
.footer-copy-right p {
  color: #abb7c4 !important;
  font-size: 0.8rem;
  text-align: center;
}

/* Catalog Page */
/* Movie Items Section */
.catalog-social-box {
  /* padding-bottom: 20px; */
}
.movie-items {
  background-color: #020d18;
}
.movie-items-container {
  padding-top: 80px;
  padding-bottom: 50px;
}
.catalog-card {
  padding: 0;
  border: 0;
}

.movie-hover-icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: 1s ease-in;
}
.movie-hover-icon:hover {
  opacity: 1;
}

.bookmark-icon,
.play-icon {
  color: #dd003f;
  transition: all 0.6s;
}
.bookmark-icon {
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
  padding-right: 1rem;
}
.bookmark-icon:hover,
.play-icon:hover {
  transform: scale(1.15);
}
.play-icon {
  font-size: 4rem;
  position: absolute;
  top: 36%;
}

.catalog-card .catalog-card-title {
  width: 100%;
  background-color: #152230;
  border: 4px solid rgba(6, 18, 30, 0.48);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -60px;
  margin-bottom: 0;
  padding-left: 20px;
  z-index: 1;
}
.catalog-card-title h4 {
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
}
.catalog-card-subtitle {
  color: #abb7c4;
  font-size: 12px;
}
.catalog-card-rate {
  color: #fff;
  margin-top: -10px;
}
.catalog-card-rate i {
  color: #f9d206;
}
/* Pegination */
.catalog-pegination {
  margin-top: 50px;
}
.catalog-pegination-item.active a {
  background: #4280bf;
  font-weight: bold;
  font-size: 18px;
}
.catalog-pegination-item {
  margin-left: 4px;
}

.catalog-pegination-link {
  background-color: transparent;
  color: #fff;
  border: 3px solid #4280bf;
  border-radius: 8px;
  font-size: 16px;
}

/* Pricing Plan Page */
/* Price Section */
.pricing-container {
  padding-top: 170px;
  padding-bottom: 30px;
}
.price-card {
  background-color: #020d18;
}

/* Features Section */
.features-section {
  background-color: #020d18;
  padding: 40px 0 30px 0;
}
.features-title {
  padding-top: 20px;
  padding-bottom: 10px;
}
.features-desc {
  padding-bottom: 20px;
}
.feature-item {
  position: relative;
}
.feature-icon {
  color: #4280bf;
  /* font-size: 3rem; */
  position: absolute;
  top: 0;
  left: 8px;
}
.icon-item1,
.icon-item4,
.icon-item6 {
  font-size: 3rem;
}
.icon-item2 {
  font-size: 2.3rem;
  top: 0.6rem;
  left: 16px;
}

.icon-item3 {
  font-size: 2.2rem;
  top: 1.1rem;
  left: 8px;
}
.icon-item5 {
  font-size: 2.6rem;
  top: 0.8rem;
  left: 16px;
}

.feature-item-title {
  margin-top: 1rem;
  margin-left: 3.4rem;
}

.feature-item-desc {
  margin-left: 3.4rem;
  text-align: justify;
  color: #abb7c4;
}

/* Partners Section */
.partners-section {
  background-color: #06121e;
  padding-bottom: 70px;
}
.partners-title {
  padding-top: 50px;
  padding-bottom: 10px;
}
.partner-img {
  max-width: 100%;
  margin-top: 30px;
}

/* Contact Us Page */
/* Contact Info */

.contact-content {
  margin-bottom: -24%;
}
.contact-info {
  background-color: #06121e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
  padding: 30px 20px;
  position: relative;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  transition: all 0.5s ease-in-out;
}
.contact-info::before {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  height: 4px;
  background: #4280bf;
  border-radius: 10px;
}
.contact-info-icon {
  background-color: #4280bf;
  font-size: 34px;
  width: 80px;
  height: 80px;
  line-height: 68px;
  position: relative;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  text-align: center;
}
.contact-info-icon::before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border: 3px solid #4280bf;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* Contact Section */
.contact-section {
  background-color: #020d18;
  padding-top: 290px;
  padding-bottom: 80px;
}
.contact-form {
  background-color: rgba(21, 34, 48, 1);
  padding: 20px 30px 40px 30px;
  border-radius: 8px;
}
.contact-img {
  width: 100%;
  height: auto;
  border-radius: 20px 50% 20px 20px;
}

.contact-form-title {
  margin-top: 30px;
}

.contact-form-subtitle {
  margin: 12px 12px 20px 0;
  text-align: justify;
  color: #abb7c4;
  font-size: 17px;
}

.input-contact-form {
  padding: 16px 18px;
  background-color: #06121e;
  border: 1px solid rgba(171, 183, 196, 0.6);
  border-radius: 8px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
.input-contact-form::placeholder {
  color: rgba(171, 183, 196, 0.6);
}
.contact-form-btn {
  background-color: #4280bf;
  padding: 16px 20px;
  color: #fff;
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: 16px;
}
.send-btn-icon {
  margin: 0 5px;
  text-align: center;
  font-size: 18px;
}

/* About Us Page */
.about-section {
  background-color: #020d18;
  padding: 100px 0 80px 0;
}
.about-left {
  position: relative;
  margin-right: 20px;
  z-index: 1;
}
.about-left::before {
  content: "";
  position: absolute;
  width: 80%;
  top: -20px;
  right: -20px;
  bottom: -20px;
  border: 5px solid #4280bf;
  border-radius: 20px;
  z-index: -1;
}
.about-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.about-right {
  margin-left: 20px;
  padding: 20px 20px 20px 0;
}
@media (max-width: 991px) {
  .about-right {
    margin-top: 70px;
    padding-left: 0;
  }
}
.about-title {
  margin-top: -16px;
}
.about-subtitle {
  font-weight: bold;
  font-size: 17px;
}
.about-detail {
  color: #abb7c4;
  text-align: justify;
  margin: 10px 0 50px 0;
}

.about-item-icon img {
  width: 48px;
  height: auto;
}
.about-item-title {
  font-size: 20px;
}
.about-item-detail {
  color: #abb7c4;
}

/* Counter Area Section */
.counter-area-section {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.counter-box {
  position: relative;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  z-index: 1;
}
.counter-box .counter-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #4280bf;
}
.counter-box .counter-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 50%;
  border: 2px dashed #fff;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.counter-icon img {
  width: 50px;
  height: auto;
}
.counter-box .counter {
  display: block;
  line-height: 1;
  font-size: 45px;
  font-weight: 600;
}
.counter-title {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

/* Process Area Section */
.process-area-section {
  background-color: #06121e;
  padding-top: 50px;
  padding-bottom: 40px;
}
.process-title {
  text-align: center;
  padding-bottom: 30px;
}
.process-subtitle {
  display: block;
  color: #4280bf;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.process-item {
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(171, 183, 196, 0.6);
  padding: 30px;
  margin-bottom: 25px;
}
.process-item span {
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: 700;
  font-size: 40px;
  -webkit-text-stroke: 2px #4280bf;
  -webkit-text-fill-color: transparent;
}
.process-item .process-icon {
  width: 80px;
  height: 80px;
  line-height: 87px;
  background-color: #4280bf;
  border-radius: 50%;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.process-icon img {
  width: 45px;
  height: auto;
}
.process-item h5 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}
.process-item p {
  margin: 0;
  color: #abb7c4;
}
/* Choose Us Section */
.choose-us-section {
  background-color: #020d18;
  padding-top: 50px;
  padding-bottom: 40px;
}
.choose-us-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 700;
  color: #4280bf;
}
.choose-us-subtitle {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
}
.choose-us-desc {
  margin: 12px 0 20px 0;
  color: #abb7c4;
  text-align: justify;
}
.choose-item {
  display: flex;
  gap: 20px;
  position: relative;
  padding-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid rgba(171, 183, 196, 0.6);
  z-index: 1;
}
.choose-item:last-child {
  border-bottom: none;
}

.choose-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #4280bf;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.choose-icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: 50%;
  border: 2px solid #4280bf;
  z-index: -1;
}
.choose-icon img {
  width: 42px;
  height: auto;
}
.choose-content {
  flex: 1;
}

.choose-content p {
  color: #abb7c4;
}
.choose-right {
  border: 3px solid #4280bf;
  border-radius: 150px 50px 150px 150px;
}
.choose-right img {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 150px 50px 150px 150px;
}

/* Team Section */
.team-section {
  background-color: #06121e;
  padding-top: 50px;
  padding-bottom: 40px;
}
.team-item {
  position: relative;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 1px solid rgba(171, 183, 196, 0.6);
  transition: all 0.5s ease-in-out;
}
.team-img {
  border-radius: 15px;
  overflow: hidden;
}
.team-img img {
  max-width: 100%;
  border-radius: 15px;
  transition: all 0.3s ease-out 0s;
}
.team-item:hover .team-img img {
  transform: scale(1.1);
}
.team-info {
  position: relative;
  background-color: #06121e;
  text-align: center;
  padding: 12px 25px;
  margin-right: 36px;
  margin-left: 36px;
  margin-top: -30px;
  border-radius: 50px;
}
.team-info h5 a {
  font-size: 20px;
  font-weight: 500;
}
.team-info span {
  margin-top: 4px;
  display: inline-block;
  color: #abb7c4;
}
.team-social {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 8px;
}
.team-social a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  background-color: #4280bf;
}
