* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

main {
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.logo {
  width: 120px;
  height: auto;
}
@media screen and (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
.navbar {
  margin: 0 auto;
  width: 100%;
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: #0f2133;
}
.nav-link {
  color: #abb7c4 !important;
  font-size: 18px;
}
.login-btn,
.signup-btn {
  text-decoration: none;
}
.login-btn {
  color: #abb7c4;
}
.signup-btn {
  background-color: #dd003f;
  color: white;
}
.active,
.login-btn:hover,
.nav-link:hover {
  color: #dcf836 !important;
}
.signup-btn:hover {
  background-color: #fff;
  border: 2px solid #dd003f;
  color: #dd003f;
}
/* .navbar-toggler-icon {
  color: #fff !important;
} */

/* Searchbar */
.searchbar-container {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  width: 100%;
}
.search-bar {
  display: flex;
  width: 88%;
  background-color: #233a50;
  border: 4px solid #020d18;
}
.dropdwon {
  position: relative;
  width: 280px;
  border-right: 2px solid #020d18;
  cursor: pointer;
}
#drop-icon {
  color: #abb7c4;
}
.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 12px 15px;
}
.dropdown-list {
  list-style-type: none;
  position: absolute;
  top: 50px;
  color: #fff;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #233a50;
  z-index: 1;
  transition: all 0.5s;
}
#drop-list.show {
  max-height: 300px;
}
.dropdown-list-item {
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
}
.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: #dcf836;
}
.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
}
.search-box input {
  padding: 0 1rem;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #233a50;
  border: 0;
  outline: 0;
}
.search-box i {
  color: #fff;
  padding-right: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}
.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 200;
  color: #abb7c4;
}

/* Hero Section */
.hero-section {
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 50px;
}

/* Social box */
.social-box {
  display: flex;
  gap: 10px;
  color: #fff;
  justify-content: end;
  align-items: baseline;
}
.social-box p {
  font-size: 14px;
  font-weight: bold;
}
.social-icon:hover {
  color: #dcf836;
  transition: all 0.6s;
}

/* Owl Carousel */
.main-carousel,
.movie-series-carousel {
  margin-top: 1rem;
  width: 90%;
  margin-bottom: 60px;
}
.card-carousle-box {
  position: relative;
}
.movie-info {
  position: absolute;
  bottom: 10%;
  left: 6%;
}
.movie-info .btn {
  color: white;
}
.movie-info .btn-item1 {
  background-color: #07a9cd;
  border: 2px solid #3871aa;
}
.movie-info .btn-item2 {
  background-color: #eeac04;
  border: 2px solid #c99002;
}
.movie-info .btn-item3 {
  background-color: #38c657;
  border: 2px solid #2b9c43;
}
.movie-info .btn-item4 {
  background-color: #f9d206;
  border: 2px solid #d3b004;
}

.movie-info h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
}
.movie-info p {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.movie-info i {
  color: #f9d206;
}

/*position dots on the right */
.owl-carousel .owl-dots {
  position: absolute;
  right: 10px;
  bottom: -55px;
  text-align: right;
}
.owl-dot span {
  background-color: #fff !important;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot span:hover {
  background-color: #dcf836 !important;
}

/* Movies Series Section */
.movies-series-section {
  background-color: #020d18;
}

.movies-container {
  padding-top: 50px;
  padding-bottom: 16px;
}
.series-container {
  padding-bottom: 50px;
}

/* Movie Tabs */
.movie-tab-btn {
  background-color: transparent !important;
  font-size: 16px !important;
}
.nav-pills {
  margin-left: -1rem;
}
/* Top Rated Section */
.top-rated-section {
  background-color: #06121e;
  height: 800px;
}
/* Pricing Plan Section */
.pricing-plan-section {
  background-color: #020d18;
  padding-top: 60px;
  padding-bottom: 30px;
}
.pirce-plan-box {
  background-color: transparent;
  border: 3px solid #4280bf;
  margin: 45px 0 40px 0;
  padding: 2rem 1.5rem;
}
.basic-box-subtitle {
  color: #dcf836;
  font-size: 2.4rem;
  font-weight: bold;
}
.price-box-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.check-icon {
  color: #38c657;
}
.grey-icon,
.grey-text {
  color: #abb7c4;
}
.premium-box-subtitle {
  color: #dd003f;
  font-size: 1.8rem;
}
.premium-box-subtitle span {
  color: #dd003f;
  font-size: 2.4rem;
  font-weight: bold;
}
.cinematic-box-subtitle {
  color: #eeac04;
  font-size: 1.8rem;
}
.cinematic-box-subtitle span {
  color: #eeac04;
  font-size: 2.4rem;
  font-weight: bold;
}
.btn-basic-price {
  border: 2px solid #dcf836;
  color: #fff;
}
.btn-basic-price:hover {
  background-color: #b4d303;
  font-weight: bold;
}
.btn-premium-price {
  border: 2px solid #dd003f;
  color: #fff;
}
.btn-premium-price:hover {
  background-color: #dd003f;
  font-weight: bold;
}
.btn-cinematic-price {
  border: 2px solid #eeac04;
  color: #fff;
}
.btn-cinematic-price:hover {
  background-color: #eeac04;
  font-weight: bold;
}

/* Footer Section */

.footer-links {
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .col-quick-links {
    display: flex;
    flex-direction: column;
  }
  .links1 {
    align-items: start;
    justify-content: center;
  }
  .links2 {
    align-items: center;
    justify-content: center;
  }
  .links3 {
    align-items: end;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .col-quick-links {
    display: flex;
    flex-direction: column;
  }
  .links1 {
    align-items: center;
    justify-content: center;
  }
  .links2 {
    align-items: center;
    justify-content: center;
  }
  .links3 {
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    margin-top: 20px;
  }
  .footer-social-box {
    margin-bottom: 10px;
  }
}

.footer-logo {
  width: 140px;
  height: auto;
}
.footer-social-box {
  font-size: 18px;
}
.col-quick-links h4 {
  font-size: 20px;
  color: #4280bf;
  margin: 10px 0;
}
.col-quick-links ul {
  list-style-type: none;
}
.col-quick-links ul li {
  font-size: 12px;
}
.col-quick-links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-copy-right {
  background-color: #06121e;
  border-top: 1px solid #abb7c4;
  padding: 20px 0 0 0;
}
.footer-copy-right p {
  color: #abb7c4 !important;
  font-size: 0.8rem;
  text-align: center;
}
